*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #CEE5D0;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: #F3F0D7;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 75px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #FF7878;
  border-radius: 25px;
  box-shadow: 0 5px 0 hsl(206, 17%, 28%);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s linear;
}

/* animation from https://codepen.io/abitdodgy/pen/hmgai*/

.btn:hover {
  animation: shake 150ms 2 linear;
}

@keyframes shake {
  0% {transform: translate(3px, 0);}
  50% {transform: translate(-3px, 0);}
  100% {transform: translate(0, 0);}
}

.btn:active {
  transform: translate(0, 3px);
  box-shadow: 0 2px 0 hsl(206, 17%, 28%);
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #FF7878;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  font-weight: bold;
  background: #CEE5D0;
  color: hsl(206, 17%, 28%);
}

h3 {
  position: fixed;
  left: 60%;
  top: 25%;
  padding: 15px;
  background-color: #E0C097;
  border-radius: 4px;
  opacity: 0;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  #password {
    font-size: 1rem;
  }
  h3 {
    left: 50vw;
    top: 50vw;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
  h3 {
    left: 50vw;
    top: 50vw;
  }
}
